bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/libs/sokol/build/zig-cache/

/libs/stb/build/zig-cache/

/libs/sokol/build/code

/libs/box2d/build/zig-cache/
/libs/box2d/build/zig-out/
/libs/box2d/build/.zig-cache/
/libs/stb/build/zig-out/
/libs/sokol/build/zig-out/

.DS_Store
libs/sokol/build/.zig-cache/
