[submodule "stb"]
	path = libs/stb/src/stb
	url = https://github.com/nothings/stb
[submodule "sokol"]
	path = libs/sokol/src/sokol
	url = https://github.com/zinc-framework/sokol.git
	branch = zinc
[submodule "sokol_gp"]
	path = libs/sokol/src/sokol_gp
	url = https://github.com/zinc-framework/sokol_gp.git
	branch = sokol-view-objects
[submodule "out/bindings"]
	path = out/bindings
	url = https://github.com/zinc-framework/Zinc.Bindings
[submodule "out/libs"]
	path = out/libs
	url = https://github.com/zinc-framework/Zinc.Libs
[submodule "box2d"]
	path = libs/box2d/src/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "libs/dcimgui/src/dcimgui"]
	path = libs/dcimgui/src/dcimgui
	url = https://github.com/floooh/dcimgui.git
[submodule "libs/sokol-tools/src/sokol-tools-bin"]
	path = libs/sokol-tools/src/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
